*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monaco, Times, sans-serif;
}
img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 40px;
}

.navbar, footer{ 
    background-color: rgb(207, 166, 173);
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.logo-image{
    max-width: 50px;
}

.site-name{
    align-self: center;
    margin-left: 5px;
}

.about{
    margin-left: auto;
}

.blog, .contact, .recipes{
    margin-left: 20px;

}

a:hover{
    background-color:rgb(235, 222, 225);
    color: black;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
}

a:link{
    text-decoration: none;
}

a{
    color: rgb(250, 247, 247);
}

a:visited{
    color: rgb(76, 66, 110);
}


h1{
    text-align: center;
    margin: 20px 0;
}

.description-container{
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.description-container img{
    border-radius: 10px;
    max-width:50%;
    height: 40vh;
    margin-left: 10px;
} 


.descriptionpara{
    text-indent:20px;
    align-self: center;
    max-width: 400px;
    color: rgb(80, 1, 1);

}

.twoflex{
    /*border: 5px solid rgb(239, 75, 75);*/
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.process{
    width: 800px;
    display: flex;
    flex-direction: column;
    /*border: 5px solid burlywood;*/
    gap: 10px;
}

.headers{
    /*border: 5px solid rgb(112, 230, 175);*/
    align-self: center;
    font-size: 30px;
    color: #1F2937;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}
.ingredients,.steps{
    background: #ffe5e5;
    color: rgb(80, 1, 1);
    padding: 20px 50px ;
    margin-left: 18px;
}

.ads{
    /*border: 5px solid rgb(10, 28, 227);*/
    flex: 1;
    display: flex;
}

li{
    padding: 10px;
}
div.polaroid {
    width: 20%;
    margin: 25px;
    /*border: 7px solid red;*/
    background: #ffe5e5;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  .container .like{
    color:rgb(10, 8, 8);
}

.recipes-flex{
    /* border: 5px solid rgb(69, 76, 149); */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
footer{
    display: flex;
    justify-content: space-around;
    height: 250px;
}
footer > *{
    max-width: 400px;
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

